<div class="row">
    <div class="col text-center">
        <img class="rounded-circle border border-secondary" width="200" src="./img/hokky.png" alt="Hokky Aryasta">
        <h1 class="display-4">Hokky Aryasta</h1>
        <p class="lead">Student | Web Developer</p>
    </div>
</div>